@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Resources by Author</h1>
<h2>Load time: @Model.ElapsedTimeMilliseconds</h2>

<ul>
    @foreach (var author in Model.Authors)
    {
        <li>@author.Name (@author.Resources.Count() total resources)</li>

    }
</ul>